<strong>Olá, {{ studentName }}</strong>
<p>Muito bem vindo a GymPoint, ficamos muito feliz por você fazer parte do nosso time</p>

<p>
  Sua matricula foi realizada com sucesso. Suas aulas tem
  inicio no <strong>{{enrollmentStartDate}}</strong> e termino é no <strong>{{enrollmentEndDate}}</strong>
</p>

<strong>Informações do Plano escolhido</strong><br />
<strong>Plano: </strong>{{ planName  }}.<br />
<strong>Duração: </strong>{{ planDuration }} meses.<br />
<strong>Valor Total: </strong> R${{enrollmentPrice}}.
<br /><br />
